API_PORT=3000
API_ADDR=0.0.0.0

STATIC_PATH=public

OPENAI_API_KEY=
OPENAI_API_URI=https://api.openai.com/v1/
OPENAI_FUNCTION=completions
OPENAI_MODEL=text-davinci-003
OPENAI_TEMPERATURE=0
OPENAI_MAX_TOKENS=7